<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mx-3 my-3">Archivos</h2>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle mx-3 my-3" data-bs-toggle="dropdown"
                aria-expanded="false">
                Acciones
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Nuevo</a></li>
                <li><a class="dropdown-item" href="#">Borrar</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="separator mx-3">
    <hr class="divider">
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Owners</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
        </tr>
        <tr>
            <th scope="row">2</th>
        </tr>
        <tr>
            <th scope="row">3</th>
        </tr>
    </tbody>
</table>